.message {
    width: 500px;
    margin: 5px 5px;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: azure;
    position: relative;
}

.sender{
  color:black;
  font-weight: bold;
  position: relative;
  top:-10px;
}

.gap {
    height: 5px;
    width: 100%;
}

.me {
    position: relative;
    left: 570px;
}

.caret{
  opacity: 0.2;
  position: absolute;
  top:0px;
  right: 3px;
  cursor: pointer;
}

.caret:hover{
  opacity: 0.8;
}

.meta {
  font-size: 12px;
  position: relative;
  bottom: -10px;
  left:430px;
}
.read{
  position: relative;
  height: 15px;
  width: 15px;
  bottom:-3px;
  margin-left: 10px;
}
