<div class="top-bar">
    <div class="avatar-mid"></div>
    <div class="user-name">{{userName}}</div>
    <div class="menu-icon" (click)="toggleMenu()">
        <div class="dot dot-first"></div>
        <div class="dot dot-mid"></div>
        <div class="dot"></div>
    </div>
</div>

<div class="menu-box" [class.hide]="menuStatus">
    <ul class="ul-item">
        <li>
            <div class="li-item">Profile</div>
        </li>
        <li>
            <div class="li-item">Chat Settings</div>
        </li>
        <li>
            <div class="li-item">Clear Chat</div>
        </li>
        <li>
            <div class="li-item">Mute Notifications</div>
        </li>
        <li>
            <div class="li-item">Block</div>
        </li>
    </ul>
</div>
