<div class="top-bar" >
    <div class="avatar-mid"></div>
    <div class="user-name" (click)='visitProfile()'>{{userName}}</div>
    <img src="https://img.icons8.com/material-two-tone/24/ffffff/menu-2.png" class="menu-btn" #menuButton (click)="toggleMenu()">
</div>

<div class="menu-box" [class.hide]="menuStatus" #menuBox>
    <ul class="ul-item">
        <li>
            <div class="li-item">Profile</div>
        </li>
        <li>
            <div class="li-item">Chat Settings</div>
        </li>
        <li>
            <div class="li-item">Clear Chat</div>
        </li>
        <li>
            <div class="li-item">Mute Notifications</div>
        </li>
        <li>
            <div class="li-item">Block</div>
        </li>
    </ul>
</div>
