.chat-window {
    width: 1085px;
    height: 100vh;
    position: relative;
    background-color: #3F4652;
}

.editor-container {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
}

.chat-area {
    width: 100%;
    height: 555px;
    position: relative;
    top: 100px;
}

.chats {
    list-style: none;
    position: absolute;
}

.cover {
    width: 1085px;
    height: 100vh;
    position: absolute;
    background-color: #3F4652;
    top: 0;
}

.hide {
    display: none;
}