<div class="page">
  <div class="left">
    <div class="utility" (click)="visitChat()">
      Back to Chat <img src="https://img.icons8.com/ios-glyphs/30/ffffff/chat.png" class="icon-utility" id="back" >
    </div>
    <div class="seperator"></div>
    <ul class="ul-item">
      <li class="utility" [class]="{'active':currState==0}" (click)="showAccount()">
        <img src="https://img.icons8.com/ios-filled/50/ffffff/key.png" class="icon-utility">Account
      </li>
      <div class="line"></div>
      <li class="utility"  [class]="{'active':currState==1}" (click)="showFriends()">
        <img src="https://img.icons8.com/ios-filled/50/ffffff/friends.png" class="icon-utility">Friends
      </li>
      <div class="line"></div>
      <li class="utility" [class]="{'active':currState==2}" (click)="showSettings()">
        <img src="https://img.icons8.com/fluent-systems-filled/48/ffffff/gear.png" class="icon-utility" style="position: relative;top:2px">Settings
      </li>
      <div class="line"></div>
    </ul>
  </div>
  <app-control-panel [State]="currState"></app-control-panel>
</div>
