<div class="page">
    <div class="forms">
        <ul class="ul-item tabs">
            <li (click)="showLogin()" [class]="{'active':loginHide==false}">Login
                <div class="line" [class]="{'hide':loginHide}"></div>
            </li>
            <li (click)="showSignUp()" [class]="{'active':signupHide==false}">Signup
                <div class="line" [class]="{'hide':signupHide}"></div>
            </li>
        </ul>
        <br><br>
        <form [ngClass]="{'hide':loginHide}" class="form" id="login" #lf="ngForm" (ngSubmit)="onLogin()">
            <div class="form-group">
                <div class="line-container">
                    <label>UserName</label>
                    <div class="seperator"></div>
                    <input type="text" id="username-login" name="username-l" #username="ngModel" [(ngModel)]="loginObject.email" required>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="line-container">
                    <label>Password</label>
                    <div class="seperator"></div>
                    <input type="password" id="password-login" name="password-l" #password="ngModel" ngModel [(ngModel)]="loginObject.password" required>
                </div>
            </div>
            <br>
            <div class="form-group">
              <div class="line-container">
                  <button class="submit-btn" type="submit" name="submit-l" [disabled]="lf.invalid">Login</button>
              </div>
            </div>
        </form>
        <form [ngClass]="{'hide':signupHide}" class="form" id="login" #sf="ngForm" (ngSubmit)="onSignUp()">
          <div class="form-group">
              <div class="line-container">
                  <label>UserName</label>
                  <div class="seperator"></div>
                  <input type="text" id="username-singup" name="username-s" #username="ngModel" [(ngModel)]="signupObject.email" required>
              </div>
          </div>
          <br>
          <div class="form-group">
              <div class="line-container">
                  <label>Password</label>
                  <div class="seperator"></div>
                  <input type="password" id="password-singup" name="password-s" #password="ngModel" ngModel [(ngModel)]="signupObject.password" required>
              </div>
          </div>
          <br>
          <div class="form-group">
            <div class="line-container">
                <label>Confirm Password</label>
                <div class="seperator"></div>
                <input type="password" id="c-password-singup" name="c-password-s" #password="ngModel" ngModel [(ngModel)]="signupObject.comfirm" required pattern="{{signupObject.password}}">
            </div>
        </div>
        <br>
          <div class="form-group">
            <div class="line-container">
                <button class="submit-btn" type="submit" name="submit-l" [disabled]="sf.invalid">Login</button>
            </div>
          </div>
      </form>
    </div>
</div>
