.block{
  width: 100vw;
  height: 100vh;
  background-color: #3F4652;
  opacity: 0.9;
  z-index: 1300;
  position: fixed;
  top:0px;
  left:0px;
}

.container{
  width:500px;
  height: 500px;
  position: fixed;
  left: calc(50vw - 250px);
  top: 150px;
  background-color: #3F4652;
  z-index: 2000;
  box-shadow: rgba(143, 242, 255, 0.856) 0px 12px 28px 0px, rgba(143, 242, 255, 0.856) 0px 2px 4px 0px, rgba(143, 242, 255, 0.856) 0px 0px 0px 1px inset;
}

.cancel-btn{
  position: absolute;
  right:5px;
  top:5px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.cancel-btn:hover{
  transform: scale(1.1);
}

.inner-container{
  width: 460px;
  height: 460px;
  margin: 20px 20px;
}
